body{
    margin:0;
    padding:0;
    font-family: Arial;
    background-color: rgb(230,230,230);
}
.top{
    position:relative;
    left:5vw;
    width: max-content;
    height:10vh;
    line-height: 10vh;
    border-bottom: 3px solid black;
}
.top h1{
    letter-spacing: 4px;
    
}
.top strong{
    color: rgb(0, 223, 11);
    letter-spacing: 0px;
    padding-right:2vw;
}
.center{
    position: relative;
    left:5vw;
    height: max-content;
}
.center .left select{
    width:20vw;
    height:5vh;
    outline: none;
    border:none;
    box-shadow: 0 0 5px 2px rgb(230,230,230);
}
.left div{
    display: inline-block;
    vertical-align: top;
    width: 30vw;
}
.left div p{
    vertical-align: top;
}
.center .left .b1{
    margin:0;
    padding:0;
    width:fit-content;
    height:fit-content;
    background-color: black;
    color:white;
    font-size:10px;
    padding: 1vw;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    margin-bottom:10px;
    margin-right:10px;
    display: inline-block;
    font-weight: 600;
}
.theme{
    font-weight:700;
    width:fit-content;
}
.right{
    margin-top:5vh;
    height: max-content;
    width:fit-content;
    vertical-align: top;
}
.right  textarea{
    width: 60vw;
    height:20vh;
    outline: none;
    border: none;
    vertical-align: bottom;
}
.right button{
    width: 10vw;
    height:40px;
    padding:0;
    margin:0;
    line-height:40px;
    background-color: black;
    color:white;
    font-size:10px;
    vertical-align: bottom;
    outline:0;
    border:0;
}
.if{
    display: none;
}
iframe{
    outline: none;
    border:none;
}
button{
    transition: background-color 0.1s ease-in-out 0.1s, color 0.1s ease-in-out 0.1s;
}
button:hover{
    background-color: rgb(230,230,230);
    color:black;
}
.g{
    border-bottom: 1px solid black;
    width:fit-content;

}
.left .grades{
    width: 20vw;
}
.left .guide1{
    border:none;
    padding:10px;
    width: 20vw;
    opacity: 1;
}
.left .guide2{
    border:none;
    padding:10px;
    width: max-content;
    opacity: 1;
}
.left .guide2 div{
    display: inline-block;
}
.guide3{
    border:none;
    padding:10px;
    width: fit-content;
    opacity: 1;
}
.guide4{
    border:none;
    padding:10px;
    width: fit-content;
    opacity: 1;
}
pre{
    font-size:15px;
    background-color: black;
    color:white;
    padding:10px;
    box-shadow: 5px 5px 2px 2px rgb(210, 210, 210);
    display: none;
}
